.edit-profile-container{
    height: 100% !important;
    width: 100% !important;
    background-color: white;
    margin: auto;
    box-shadow: 0px 3px 3px darkgray;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.heading-containier-edit-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;

}

.user-bio {
  align-items: left;
  text-align: left;
  justify-content: left;
  font-size: 14px;
  color: gray;
  margin-top: 10px;
}

.input-length {
  display: flex;
}

.user-bio-container, .input-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  width: 85%;
  margin: auto;
}

.user-bio-input {
  width: 80%;
}

.max-length-number {
  color: gray;
}

.modal-heading {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  text-align: left;
  width: 85%;
  margin: auto;
  margin-bottom: 20px;
  font-weight: bold;
}

.update-img-info-container {
  align-items: left;
  display: flex;
  width: 78%;
  margin-bottom: 5%;
  margin-top: 5%;
  flex-direction: column;
  justify-content: space-around;
}

.recommended-txt {
  font-size: 14px;
  color: gray;
  text-align: left;
}

.update-profile-button{
  align-self: flex-end;
  background-color: #badcba;
  border: 0px;
  color: white;
  cursor: not-allowed;
  justify-content: center;
  border-radius: 100px;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 15px;
}

.updates-profile-button {
  align-self: flex-end;
  background-color: #497a4c;
  border: 0px;
  color: white;
  cursor: pointer;
  justify-content: center;
  border-radius: 100px;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: 'Roboto Condensed', sans-serif;

}

[type=text] {
  width: 85%;
  /* padding: 12px 20px; */
  padding-bottom: 8px;
  margin: auto;
  display: flex;
  border:none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  align-self: center;
  margin-top: 1rem;
}

.form-inputs-container {
  margin-bottom: 40px;
}


.edit-profile-pic-btns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: none;
  padding: none;
  width: 30%;
}

.update-btn-profile-pic {
  background-color: none;
  background: none;
  color: #497a4c;
  border: none;
  cursor: pointer;
  margin: none;
  padding: none;
  text-align: left;
  justify-content: left;
}

.btn-upload-profile {
  background-color: none;
  background: none;
  color: #497a4c;
  border: none;
  cursor: pointer;
  margin: none;
  padding: none;
  text-align: left;
  justify-content: left;
}
.update-btn-profile-pic::file-selector-button {
  background-color: none;
  background: none;
  color: #497a4c;
  border: none;
  cursor: pointer;
  margin: none;
  padding: none;
  text-align: left;
  justify-content: left;
}


.delete-profile-pic-btn {
  background-color: none;
  background: none;
  color: red;
  border: none;
  cursor: pointer;
}

.edit-photo-container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

.user-bio-input:focus {
  outline: none;
  border-bottom: 1px solid rgb(67, 67, 67);
}


.cancel-profile-button {
  align-self: flex-end;
  background-color: white;
  border: 0px;
  color: #497a4c;
  cursor: pointer;
  justify-content: center;
  border-radius: 100px;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: 'Roboto Condensed', sans-serif;
  border: 1px solid #497a4c;
}


.user-pic-preview {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 999;
}

.photo-heading {
  font-size: 14px;
  color: gray;
  text-align: left;
  margin-bottom: 10px;
}


.info-text {
  font-size: 14px;
  color: gray;
  text-align: left;
  margin-bottom: 10px;
}


.update-profile-btns{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  width: 85%;
  margin: auto;
}
