.edit-profile-container{
    height: 100% !important;
    width: 100% !important;
    background-color: white;
    margin: auto;
    box-shadow: 0px 3px 3px darkgray;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.modal-heading {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 28px;
  margin-top: 60px;
  margin-bottom: 30px;
  display: block;
  width: 100%;
  text-align: center;
}

.update-profile-button{
  align-self: flex-end;
  background-color: #292929;
  border: 0px;
  color: white;
  cursor: pointer;
  justify-content: center;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto Condensed', sans-serif;

}

[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 150px;
  display: flex;
  border: 1px solid #ccc;
  box-sizing: border-box;
  align-self: center;
}
