.comment-box {
  cursor: default;
  border-left: 1px solid black;
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* row-gap: 10px; */
  position: fixed;
  right: 0;
  margin: 0;
  top: 0;
  background-color: white;
  overflow-y: scroll;
  z-index: 1;
}

.create-comment {
  display: flex;
  align-items: center;
  /* height: 200px; */
  flex-direction: column;

  padding-bottom: 20px;
  margin-top: 10px;
  border-bottom: 1px solid black;
  width: 300px;
}

.create-comment-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-textarea {
  resize: none;
}

.main-comment {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  /* border-radius: 5px; */
  margin-top: 10px;
  padding-left: 20px;
}

.exit-bar {
  cursor: pointer;
  margin-left: 348px;
  margin-top: 2px;
}


.comment-editor p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
