.test-editor {
  max-width: 600px;
  margin: auto;
}

.test-editor:focus {
  outline: none;
}

.ProseMirror {
  outline: none;
}

.large-editor:focus {
  outline: none;
}

.image-info {
  cursor: pointer;
}

.test-editor p {
  font-size: 40px;
  font-family: "Roboto Condensed", sans-serif;
}

.large-editor p {
  font-size: 25px;
  font-family: "Roboto Condensed", sans-serif;
}

.test-editor p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.large-editor p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.large-editor {
  max-width: 600px;
  margin: auto;
  max-height: 1000px;
}

.open-close-btns {
  color: #292929;
  border: 1px solid #292929;
  border-radius: 50%;
}

.image-info {
  width: 10px;
  display: block;
  margin: auto;
  justify-content: center;
}

.errors-msg {
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
}

.errors-msg p {
  text-align: center;
  line-height: 30px;
}

.page-container {
  justify-content: center;
}

.image-input-field {
  width: 400px;
  position: relative;
  right: 185px;
}
